{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container pb-0">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col text-center">
            <hr class="text-orange">
            <h3 class="logo-font display-6 mb-3 mt-3 fst-italic">Shopping Bag</h3>
            <hr class="text-orange">
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black bg-orange logo-font px-3 ">
                            <tr>
                                <th scope="col">Item Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in bag_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                </td>
                                <td class="py-3">
                                    <p class="my-0 logo-font"><strong>{{ item.product.name }}</strong></p>
                                <td class="py-3">
                                    <p class="my-0 logo-font">{{ item.product.price }}</p>
                                </td>
                                <td class="py-2 w-10">
                                    <form class="form update-form" method="POST" action="{% url 'update_bag' item.item_id %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-sm btn-black text-orange rounded-1" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-sm btn-black text-orange rounded-1"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span>
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                </div>
                                        </div>
                                    </form>
                                    <a  class="update-link text-black"><small>Update</small></a>
                                    <a class="remove-item text-orange float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-end">
                                <hr class="text-orange">
                                <h6 class="logo-font fw-bold"><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                                <h4 class="mt-4 logo-font"><strong>Grand Total: €{{ total|floatformat:2 }}</strong></h4>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-end">
                                <hr class="text-orange">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase logo-font">Keep Shopping</span>
                                </a>
                                <a class="btn btn-orange rounded-0 btn-lg">
                                    <span class="text-uppercase logo-font">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p class="lead logo-font text-black mb-5">Your bag is currently empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left fw-bold text-orange"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
    {% include 'includes/footer.html' %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken,};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}