{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container pb-0">
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>
{% endblock %}
<!--Home Page Image Carousel with call to action buttons-->
{% block content %}
<div class="overlay"></div>
<div class="container h-100 ">
    <div class="row mt-md-4 mt-sm-5">
        <div class="col-12 my-auto">
            <div id="carouselHome" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner h-50">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="{% static 'images/carousel-1.jpg' %}" class="d-block w-100 home-img img-fluid pt-lg-5" alt="...">
                    <div class="carousel-caption d-none d-md-block col-lg-4 offset-lg-6 col-md-6 offset-md-4 text-lg-center py-lg-3 py-md-4 px-4">
                        <h1 class="display-6 text-black logo-font mt-4">
                            Style Consultant
                        </h1>
                        <h3 class="display-7 text-black logo-font mt-4">
                            Look & Feel Amazing
                        </h3>
                        <h4 class="mt-4">
                            <a href="{% url 'products' %}?category=style_services" class="get-styled-button btn btn-large rounded-0 text-uppercase py-3 px-2">
                                Let's Get Styled!
                            </a>
                        </h4>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'images/carousel-4.jpg' %}" class="d-block w-100 home-img img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block col-lg-4 col-md-6 py-md-0 py-lg-auto px-4 align-content-center">
                        <h1 class="display-6 text-black logo-font mt-4 py-lg-auto">
                            Style Consultant
                        </h1>
                        <h3 class="display-7 text-black logo-font mt-4">
                            Look & Feel Amazing
                        </h3>
                        <h4 class="mt-4">
                            <a href="{% url 'products' %}?category=style_services" class="get-styled-button btn btn-large rounded-0 text-uppercase py-3 px-2">
                                Let's Get Styled!
                            </a>
                        </h4>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'images/carousel-3.jpg' %}" class="d-block w-100 home-img" alt="...">
                    <div class="carousel-caption d-none d-md-block col-lg-4 col-md-6 py-0 px-4">
                        <h1 class="display-6 text-black logo-font mt-4">
                            Style Consultant
                        </h1>
                        <h3 class="display-7 text-black logo-font mt-4">
                            Look & Feel Amazing
                        </h3>
                        <h4 class="mt-4">
                            <a href="{% url 'products' %}?category=style_services" class="get-styled-button btn btn-large rounded-0 text-uppercase py-3 px-2">
                                Let's Get Styled!
                            </a>
                        </h4>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <!--Brief company info statement-->
    <div class="row my-auto">
        <hr class="mt-5">
        <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 mt-3">
            <h2 class="display-6 text-center text-black logo-font mt-md-5 mt-sm-3">
                Get the Styled Experience
            </h2>
            <p class="text-black mt-5 text-center">
                <strong class="text-orange">Styled</strong> is a personal style consultacy based in Cork.
                Our mission is to help people shop with confidence for their style and their budget. 
                We specialise in 1:1 consultations for personal shopping, image consultations and wardrobe refreshes.
                How you dress can have a true impact on your confidence. We aim to personalise the 
                hugely impersonal online shopping world, enabling you to make inspired fashion choices, spend your time and money wisely and end up looking and feeling amazing.
            </p>
        </div>
    </div>
    <!--Client Stories Carousel with quotes and images-->
    <div class="row mb-5">
        <hr class="mt-5 mb-5">
        <div class="col-md-12 text-center bg-orange mb-3">
            <h2 class="display-6 text-center text-black logo-font mt-5 mb-4">Styled Stories</h2>
            <div id="clientSlides" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner text-center">
                    <div class="carousel-item active">
                        <div class="col-md-6 mb-4 offset-md-3">                 
                            <img class="rounded-circle z-depth-2 h-20 client-img" alt="100x100" src="{% static 'images/client-1.jpg' %}"
                              data-holder-rendered="true">
                    
                          </div>
                        <blockquote class="col-md-6 offset-md-3">
                            "An incredible selection of clothes and shoes; never once did I feel pressurised to dress in a way that I wasn’t comfortable in. She was so pleasant and kind, you can tell she really loves her job."
                        </blockquote>
                        <h5><strong>Samantha Murray</strong>, 40, Kerry</h5>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-6 mb-4 offset-md-3">                 
                            <img class="rounded-circle z-depth-2 h-20 client-img" alt="100x100" src="{% static 'images/client-2.jpg' %}"
                              data-holder-rendered="true">
                    
                          </div>
                        <blockquote class="col-md-6 offset-md-3">
                            "Styled is a lifesaver. I'm an entrepreneur and I have no time to shop but still want to look stylish. My stylist pulled these amazing vintage pant suits that I can wear to all my work events."
                        </blockquote>
                        <h5><strong>Katie Bergin</strong>, 32, Laois</h5>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-6 mb-4 offset-md-3">                 
                            <img class="rounded-circle z-depth-2 h-20 client-img" alt="100x100" src="{% static 'images/client-3.jpg' %}"
                              data-holder-rendered="true">
                    
                          </div>
                        <blockquote class="col-md-6 offset-md-3">
                            "A great service. I hate walking into shops and not knowing where to start. being a lover of online shopping but having someone to point me in the right direction for great looks is a God send!! Thank you."
                        </blockquote>
                        <h5><strong>Susan Lilley</strong>, 42, Galway</h5>
                    </div>
                    <div class="carousel-item">
                        <blockquote class="col-md-6 offset-md-3">
                            "I have honestly been waiting for this my whole life! I love style but hate shopping. So happy I found this, it has completely changed the way I shop from here on out."
                        </blockquote>
                        <h5><strong>Janet O' Mahony</strong>, 29, Dublin</h5>
                    </div>
                    <div class="carousel-item">
                        <blockquote class="col-md-6 offset-md-3">
                            "I don’t have much time to go shopping due to work and family commitments. Styled experience has provided me the opportunity to have an amazing tailored workwear wardrobe. I would highly recommend this service to my friends and I’ll definitely be back for another Styled experience! Thank you. Keep up the great work."
                        </blockquote>
                        <h5><strong>Grace Johnson</strong>, 36, Belfast</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    {% include 'includes/footer.html' %}
</div>
{% endblock %}