{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
<!--Thank you confirmation to user that contact form has been sent-->
{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row mt-5">
        <div class="col-12 col-md-10 offset-md-1 mt-4 text-center">
            <hr class="text-orange">
            <h2 class="logo-font fw-bold mb-4">Thank You!</h2>
            <h5 class="text-orange logo-font mb-4 ">Your Enquiry has been sent.</h5>
            <p class="logo-font text-black fw-bold mb-4">We will respond to your email as soon as possible.</p>
            <hr class="text-orange">
        </div>
    </div>
    <!--Button to take user back to the All Services Page-->
    <div class="row mt-3">
        <div class="col-12 col-lg-6 offset-lg-3 text-center">
            <a href="{% url 'products' %}?category=style_services" class="btn btn-orange rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="far fa-gem"></i>
                </span>
                <span class="text-uppercase logo-font fw-bold">Check out Styled Services!</span>
            </a>
        </div>
    </div>
    <!--Footer-->
    {% include 'includes/footer.html' %}
</div>
{% endblock %}