html{
    height: 100%;
}

body{
    height: calc(100vh - 164px);
    color: #000000;
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
}

hr{
    opacity: unset;
    padding: 2px;
}

header{
    background-color: white;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-family: 'Brygada 1918', serif;
}

.main-logo-link {
    width: fit-content;
    margin-left: 30px;
}

.nav-link{
    font-size: 15px;
}

h2.logo-font{
    font-size: 50px;
}

.get-styled-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
    padding: 15px 10px;
}

.get-styled-button:hover,
.get-styled-button:active,
.get-styled-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-orange{
    color:  rgb(235, 132, 77);
}

.border-black {
    border: 1px solid black !important;
}

.home-img{
    height: 600px;
}

.carousel-caption{
    background-color: rgba(255, 255, 255, .55);
    top:25%;
    bottom: 20%;
    left: 10%;
}

.bg-orange{
    background-color:  rgb(235, 132, 77, .85);
}

.client-img{
    width: 200px;
    height: 200px;
}

.service-img{
    width: 50%;
    height: 50%;
    border: 1px solid #000;
}

#all-products-link,
#home-link
#about-link,
#contact-link,
#outfit-link,
#gift-link{
    font-size: 20px;
}

.price{
    font-size: 1rem;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

#id_product_option.form-control{
    border:2px solid rgba(235, 132, 77, .85);
}

select#id_product_option.form-control{
    background-color:#fff ;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}