<div class="collapse navbar-collapse mt-3" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font fw-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font fw-bold nav-link text-black mr-5" href="{% url 'about' %}" id="about-link">
                About
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=style_services" class="dropdown-item">All Styling Services</a>
                <a href="{% url 'product_detail' 1 %}" class="dropdown-item">1:1 Image Consultation</a>
                <a href="{% url 'product_detail' 2%}" class="dropdown-item ">Body Analysis</a>
                <a href="{% url 'product_detail' 3 %}" class="dropdown-item ">Personal Shopping Experience</a>
                <a href="{% url 'product_detail' 4 %}" class="dropdown-item">Full Style Overhaul</a>
		        <a href="{% url 'product_detail' 5 %}" class="dropdown-item">Closet Clearout</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black mr-5" href="#" id="outfit-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Look Book
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="outfit-link">
                <a href="{% url 'gallery' %}?collection=work_wear,occasion_wear,casual_chic,going_out_glam" class="dropdown-item">All Looks</a>
                <a href="{% url 'gallery' %}?collection=work_wear" class="dropdown-item">Workwear</a>
                <a href="{% url 'gallery' %}?collection=occasion_wear" class="dropdown-item">Occasion Wear</a>
                <a href="{% url 'gallery' %}?collection=casual_chic" class="dropdown-item">Casual Chic</a>
                <a href="{% url 'gallery' %}?collection=going_out_glam" class="dropdown-item">Going Out Glam</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font fw-bold nav-link text-black mr-5" href="{% url 'gift_voucher' %}" id="gift-link">
                Gift Cards
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font fw-bold nav-link text-black" href="#" id="contact-link">
                Contact
            </a>
        </li>
    </ul>
</div>