{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <hr class="text-orange">
    <h3 class="logo-font text-center display-6 text-black mb-4">{% trans "Change Password" %}</h3>
    <hr class="text-orange">

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
