{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}    
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <!--Core CSS Files-->
    {% block corecss %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,700&family=Roboto+Slab&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    {% endblock %}

    <!--Extra CSS Files-->
    {% block extra_css %}
    {% endblock %}

    <!--Core JS Files-->
    {% block corejs %}
      <script src="https://kit.fontawesome.com/71923bd6f2.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="https://js.stripe.com/v3/"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      {% endblock %}

    <!--Extra JS Files-->
    {% block extra_js %}
    <script src="{% static 'js/sweet_alert.js' %}"></script>
    {% endblock %}

    <title>Styled {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top pt-3">
        <div id="top-nav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="row">
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <h2 class="logo-font text-dark my-0">Styled</h2>
                    </a>
                </div>
                <!--Search Bar-->
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our services">
                            <div class="input-group-append">
                                <button class="form-control btn btn-orange border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="text-black fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="text-dark nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class=" text-orange fas fa-user fa-lg"></i></div>
                                    <p class="my-0 text-black logo-font">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                <!--Display these links for a superuser-->
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                        <a href="{% url 'add_feature' %}" class="dropdown-item">Product Feature Management</a>      
                                        <a href="{% url 'add_image' %}" class="dropdown-item">Look Book Management</a>
                                    {% endif %}
                                    <!--Display these links for a registered user-->
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                <!--Display these links for a guest user-->
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <!--Shopping bag total if the user has items in their bag-->
                        <li class="list-inline-item">
                            <a class="{% if total %}text-info fw-bold{% else %}text-dark{% endif %} nav-link" href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <div><i class=" text-orange fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0 text-black logo-font">
                                        {% if total %}
                                        €{{ total|floatformat:2 }}
                                        {% else %}
                                        € 0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Include either main nav or mobile navbar depending on screen size-->
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-nav.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div> 
    </header>
    
   <!--Display messages if any-->
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
        {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    
    {% block postloadjs %}
    <!--Triggers the toast alerts-->
    <script type="text/javascript">
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl)
        })
        toastList.forEach(toast => toast.show());
        
    </script>
    {% endblock %}

  </body>
</html>