{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col text-center">
            <hr class="text-orange">
            <h3 class="logo-font display-6 mb-3 mt-3 fst-italic">The Styled Story</h3>
            <hr class="text-orange">
        </div>
    </div>
    <div class="row">
        <h3 class="lead mb-0 logo-font text-center"></h3>
        <div class="col-md-12 col-lg-6 text-center">
            <div class="image-container my-5">
                <img class="img-fluid" src="{% static 'images/about-image.jpg' %}" alt="style quote">
            </div>
        </div>
            <div class="col-md-12 col-lg-6">
                <div class="about-details-container mb-5 mt-md-5">
                    <h3 class="display-7 logo-font mb-3 mt-3 text-center">Look & Feel Amazing</h3>
                    <p class="mt-3 text-justify px-5 fst-italic lh-lg text-wrap">
                        Styled services are designed to save you time, show you how to shop smart and bring back the joy of dressing. I pride myself on providing an extremely personalized service with focused attention to your individual needs. With no stock or paid partnerships to consider, every suggestion is organic and uniquely tailored to you.
                        I have always been fascinated by the way an outfit can alter a woman's confidence. A well-fitted blazer empowers. A tailored dress excites. An outfit is more than just the pieces you choose; it’s an outward expression of your feelings.
                        Our mission is to help people shop with confidence for their style and their budget. We specialise in 1:1 consultations for personal shopping, image consultations and wardrobe refreshes, and tailored seminars for corporate groups.
                    </p>
                </div>
            </div>
        </div>
        <hr class="text-orange">
            <h2 class="logo-font mb-5 mt-3 fst-italic text-center">What We Do</h2>
        <div class="row align-items-center">

            <div class="col-md-4">
                <div class="card border-0">
                    <img src="{% static 'images/image-mini.png' %}" class="mx-auto d-block rounded-circle service-img " alt="...">
                    <div class="card-body text-center">
                        <a href="{% url 'product_detail' 1 %}" class="btn btn-large rounded-1 text-uppercase btn-black py-0">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <img src="{% static 'images/shopping-mini.png' %}" class="mx-auto d-block rounded-circle service-img" alt="...">
                    <div class="card-body text-center">
                        <a href="{% url 'product_detail' 3 %}" class="btn btn-large rounded-1 text-uppercase btn-black py-0">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <img src="{% static 'images/body-mini.png' %}" class="mx-auto d-block rounded-circle service-img" alt="...">
                    <div class="card-body text-center">
                        <a href="{% url 'product_detail' 2 %}" class="btn btn-large rounded-1 text-uppercase btn-black py-0">More Info</a>
                    </div>
                </div>
            </div>
        </div>
            <div class="row align-items-center mt-3 mb-5">
            <div class="col-md-4">
                <div class="card border-0">
                    <img src="{% static 'images/style_overhaul_mini.png' %}" class="mx-auto d-block rounded-circle service-img" alt="...">
                    <div class="card-body text-center">
                        <a href="{% url 'product_detail' 4 %}" class="btn btn-large rounded-1 text-uppercase py-0 btn-black">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <img src="{% static 'images/wardrobe-mini.png' %}" class=" mx-auto d-block rounded-circle service-img" alt="...">
                    <div class="card-body text-center">
                        <a href="{% url 'product_detail' 5 %}" class="btn btn-large rounded-1 text-uppercase py-0 btn-black ">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 ">
                    <img src="{% static 'images/group_style_mini.png' %}" class=" mx-auto d-block rounded-circle service-img" alt="...">
                    <div class="card-body text-center">
                        <a href="{% url 'product_detail' 6 %}" class="btn btn-large rounded-1 text-uppercase py-0 btn-black">More Info</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="text-orange">
            <h2 class="logo-font mb-5 mt-5 fst-italic text-center">Styled Squad</h2>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="card border-0">
                    <img src="{% static 'images/style-consultant-1.jpg' %}" class="mx-auto d-block service-img" alt="...">
                    <div class="card-body text-center">
                        <p class="lead logo-font text-black mt-3 text-center px-5 fst-italic lh-lg">Owner & Image Consultant</p>
                        <p class="text-black mt-3 text-center px-5 fst-italic lh-lg">Jessica Prendiville</p>
                        <p class="text-orange text-center px-5 fst-italic lh-lg">jessicapren@mail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-0">
                    <img src="{% static 'images/style-consultant-2.jpg' %}" class="mx-auto d-block  service-img" alt="...">
                    <div class="card-body text-center">
                        <p class="lead logo-font text-black mt-3 text-center px-5 fst-italic lh-lg">Senior Personal Stylist </p>
                        <p class="text-black mt-3 text-center px-5 fst-italic lh-lg">Alice Bergin</p>
                        <p class=" text-orange text-center px-5 fst-italic lh-lg">alicebergin@mail.com</p>
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </div>
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}