{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 col-md-10 offset-md-1 mt-4 text-center">
                <hr class="text-orange">
                <h2 class="logo-font fw-bold mb-4">Product Management</h2>
                <h5 class="text-orange logo-font">Edit a Product</h5>
                <hr class="text-orange">
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-center mt-4">
                        <a class="btn btn-outline-black btn-orange rounded-0 logo-font fw-bold" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-black rounded-0 logo-font" type="submit">Edit Product</button>
                    </div>
                </form>
            </div>            
        </div>
        {% include 'includes/footer.html' %}
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}