{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.jpg" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted logo-font" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-shopping-bag px-2"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                </div>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a class="text-black logo-font" href="{% url 'edit_product' product.id %}">Edit</a> | 
                    <a class="text-orange logo-font" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
            {% endif %}
            </div>
        
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h3 class="mb-0 logo-font">{{ product.name }}</h3>
                    <p class="mt-3">{{ product.description }}</p>
                    <span class="logo-font mb-3 text-orange"><strong>Price:</strong></span>
                    <p class="lead mb-3 logo-font text-left fw-bold" value="{{product.price}}">€{{ product.price }}</p>
                </div>
       
		    <div class="row">
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                                <div class="col-12">
                                    <p class="mt-3 logo-font"><strong>Quantity:</strong></p>
                                    <div class="form-group w-50">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-orange rounded-1" 
                                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input text-center" type="number"
                                                name="quantity" value="1" min="1" max="99"
                                                data-item_id="{{ product.id }}"
                                                id="id_qty_{{ product.id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-orange text-black rounded-1"
                                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-12 mt-2">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase fw-bold text-orange">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn bg-orange rounded-0 text-uppercase mt-5 w-30 fw-bold" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
                    </div>
                </div>
                {% if product.name != 'Gift Voucher' %}
            <hr class="text-black mb-5 mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center text-black logo-font">
                        <img class="text-justify mb-0 img-fluid h-10" src="{% static 'images/logo_small.jpg' %}" alt="Styled Logo">
                    <h3 class="logo-font text-center text-black mb-4 mt-3">Session Includes:</h3>
                    
                    {% for f in  features %}
                    <div class="bg-orange pt-2 pb-2">
                        <p>{{f.name}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% include 'includes/footer.html' %}
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
