{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted logo-font" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-shopping-bag px-2"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                </div>
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a class="text-black logo-font" href="">Edit</a> | 
                    <a class="text-orange logo-font" href="">Delete</a>
                </small>
            {% endif %}
            </div>
        
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h3 class="mb-0 logo-font">{{ product.name }}</h3>
                    <p class="mt-3">{{ product.description }}</p>
                    </div>
       
		    <div class="row">
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                                <div class="col-12">
                                    <p><strong>Select a Session:</strong></p>
                                    <select class="form-control rounded-0 w-80 fw-bold" name="price_option" id='id_price_option'>
                                        <option value="{{product.online_price}}">Online - €{{ product.online_price }}</option>
                                        <option value="{{product.price}}">In Person - €{{ product.price }}</option>
                                    </select>
                                </div>
                            <div class="col-12 mt-2">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase fw-bold text-orange">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn bg-orange rounded-0 text-uppercase mt-5 w-30 fw-bold" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
                    </div>
                </div>
            <hr class="text-black mb-5 mt-5">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center text-black logo-font">
                        <img class="text-justify mb-0 img-fluid h-10" src="{% get_media_prefix %}logo_small.jpg" alt="Styled Logo">
                    <h3 class="logo-font text-center text-black mb-4 mt-3">Session Includes:</h3>
                    
                    {% for f in  features %}
                    <div class="bg-orange pt-2 pb-2">
                        <p>{{f.name}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% include 'includes/footer.html' %}
    </div>
{% endblock %}
